RewriteEngine On
# RewriteRule ^(teams)/([0-9]+)/ index.php?url=$1&url2=$2 [QSA]
# RewriteRule ^([^/]*)/ index.php?url=$1 [QSA]
RewriteRule ^([^/]+)/ index.php?url=$1 [L,QSA]
# RewriteRule ^(teams)/([0-9]+) index.php?url=$1&team=$2 [QSA,L]