* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: lightblue;
}

ul {
  display: flex;
  list-style: none;
}

.items {
  padding: 15px;
}

.items a {
  text-decoration: none;
}

#logo a {
  color: black;
}

.menu-auth a {
  color: white;
}

#logo {
  font-size: 25px;
  margin-right: auto;
}

.menu-auth {
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  background-color: rgb(138, 138, 247);
}

.menu-auth:hover {
  border-bottom: 2px solid white;
}

#login {
  margin-left: auto;
}

.main-menu a {
  font-size: 18px;
  color: black;
}
